## Modelo de classificação SVM

In [7]:
import pandas as pd

In [8]:
# csv = pd.read_csv("ans.csv")
csv = pd.read_csv("jumping-dataset-rotulado.csv")
csv

,0,1,2,3,4,5,6,7,8,9,...,9207,9208,9209,9210,9211,9212,9213,9214,9215,Jumping
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,28,36,38,39,31,46,48,57,39,36,...,41,17,42,43,46,32,42,46,27,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2517,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
csv["Class"] = csv["Class"].replace({"Jumping" : 1, "Not Jumping" : 2})

C:\Users\andur\AppData\Local\Temp\ipykernel_23028\224267073.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  csv["Class"] = csv["Class"].replace({"Jumping" : 1, "Not Jumping" : 2})

In [4]:
csv

,0,1,2,3,4,5,6,7,8,9,...,27639,27640,27641,27642,27643,27644,27645,27646,27647,Class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
150,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
151,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [9]:
# X = csv.drop(columns=["Class"])
# y = csv["Class"]
X = csv.drop(columns=["Jumping"])
y = csv["Jumping"]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn import svm

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.5)

svm = svm.SVC().fit(X_train, y_train)

In [11]:
svm.score(X_test, y_test)

0.2896825396825397