In [1]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('dataset.csv')
df2 = pd.read_csv('dataset-no-noise.csv')

In [4]:
display(df1)
display(df2)

,0,1,2,3,4,5,6,7,8,9,...,16375,16376,16377,16378,16379,16380,16381,16382,16383,Jumping
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1799,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1800,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1801,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,0,1,2,3,4,5,6,7,8,9,...,16375,16376,16377,16378,16379,16380,16381,16382,16383,Jumping
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,2,0,0,0
2101,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,2,0,0,0
2102,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,2,0,0,0
2103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2,0,1,0
2104,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0

In [5]:
1803+2105

3908

In [ ]:
dataset = pd.concat([df1, df2], ignore_index=True)

,0,1,2,3,4,5,6,7,8,9,...,16375,16376,16377,16378,16379,16380,16381,16382,16383,Jumping
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,2,0,0,0
3904,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,2,0,0,0
3905,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,2,0,0,0
3906,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2,0,1,0
3907,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0

In [6]:
dataset.to_csv('new-dataset-merged.csv', index=False)